.App-header {

  min-height: 100vh;
 
  background: url("/img/background.jpeg") no-repeat center center;
  background-size: cover;
}

.Inscription-bookmark{
  width: 200px;
  height: 100px;
  /* background: #b7b6b6; */
  box-shadow: inset 1px 1px 6px #0c0c0c;
  flex-direction: column;
  display: flex;
  justify-content:flex-end;
  align-items: center;


}
.Link-bookmark{
  position: relative;
  text-decoration: none;
}

.Create-block{
  cursor: pointer;
}
.Delete-bookmark{
  display: none;
  position: absolute;
  right: 1px;
  top: 1px;
  opacity: 0.3;
  color: rgb(255, 255, 255);
  background: red;
  padding: 0 5px;
  border-radius: 2px;
  
}
.Change-bookmark {
  display: none;
  position: absolute;
  left: 1px;
  top: 1px;
  opacity: 0.3;
  color: rgb(255, 255, 255);
  padding: 0 2px;
  border-radius: 2px;
}

.Delete-bookmark:hover, .Change-bookmark:hover{
  transform: scale(1.1);
  opacity: 1;
}
a.Link-bookmark:hover, .Create-block:hover{
  
  transform: scale(1.1);
}
a.Link-bookmark:hover .Delete-bookmark,a.Link-bookmark:hover .Change-bookmark{
  display: block;
 
}
.Bookmarks-Name{
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: #000000d9;
  color: white;
  border-radius: 4px;
  height: 22px;
}
.Page-container{
  display: flex;
  height:100%;

  gap: 10px 20px;
  align-items: baseline;
  padding: 10%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Img-bookmark{
  width: 200px;
  height: 78px;
}
.ClockDiv{
  position: absolute;
  color: white;
  padding: 5px 10px;
  background: #00000066;
  border-radius: 20px;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}
.ClockDiv p{
  display: inline;
}
.ModalContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  background: #0a0a0a80;
  padding: 20px;
  top: 10%;
  left: 40%;
  color: #fff;
  height: auto;
  width: 20%;
  z-index: 2;
}
.ModalBackground{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000a3;
    z-index: 1;
}
.disable{
  display: none;
}
.ModalFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ButtonModal{
  background: #4c8807;
  width: 200px;
  height: 40px;
  border: none;
  box-shadow: inset 0px 0px 9px #c5b8a6;
  border-radius: 10px;
  font-size: 16px;
}
.ButtonModal:hover{
  font-size: 18px;
  background: #67b709;
  cursor: pointer;
  z-index: 3;
}
.InputModal{
  width: auto;
  height: 25px;
  border-radius: 8px;
}