.Main-container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  background: no-repeat center center;
  background-size: cover;
}

.Inscription-bookmark{
  width: 200px;
  height: 100px;
  box-shadow: inset 1px 1px 6px #0c0c0c;
  flex-direction: column;
  display: flex;
  justify-content:flex-end;
  align-items: center;


}
.Link-bookmark{
  position: relative;
  text-decoration: none;
}

.Create-block{
  position: relative;

  cursor: pointer;
}
.Delete-bookmark{
  display: none;
  position: absolute;
  right: 1px;
  top: 1px;
  opacity: 0.3;
  color: rgb(255, 255, 255);
  background: red;
  padding: 0 5px;
  border-radius: 2px;
  
}
.Delete-modal{
  width: 400px;
  margin: 130px auto;
  background: #e7e7e794;
  border-radius: 7px;
  padding: 15px;
  font-size: 15px;
}
.Change-bookmark {
  display: none;
  position: absolute;
  left: 1px;
  top: 1px;
  opacity: 0.3;
  color: rgb(255, 255, 255);
  padding: 0 2px;
  border-radius: 2px;
}

.Delete-bookmark:hover, .Change-bookmark:hover{
  transform: scale(1.1);
  opacity: 1;
}
a.Link-bookmark:hover, .Create-block:hover{
  background: #16161669;
  transform: scale(1.1);
}
.Plus-create{
  position: absolute;
  top: 10px;
  width: 35px;
  height: 32px;
 
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  transition-duration:0.5s;
}
.Create-block:hover .Plus-create{
  color:#67b709
}
a.Link-bookmark:hover .Delete-bookmark,a.Link-bookmark:hover .Change-bookmark{
  display: block;
 
}
.Bookmarks-Name{
  overflow: hidden;
  width: 100%;
  text-align: center;
  background: #000000d9;
  color: white;
  border-radius: 4px;
  height: 22px;
}
.Page-container{
  display: flex;
  height:100%;

  gap: 10px 20px;
  align-items: baseline;
  padding: 7% 9%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.Img-bookmark{
  width: 200px;
  height: 78px;
}
.ClockDiv{
  z-index: 1;
  position: absolute;
  color: white;
  padding: 5px 10px;
  background: #00000066;
  border-radius: 20px;
  margin: 5px;
  font-size: 18px;
  font-weight: 600;
}
.ClockDiv p{
  display: inline;
}
.ModalContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  background: #0a0a0a80;
  padding: 20px;
  top: 10%;
  left: 40%;
  color: #fff;
  height: auto;
  width: 20%;
  z-index: 2;
}
.ModalBackground{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000000a3;
    z-index: 1;
}
.disable{
  display: none;
}
.ModalFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ButtonModal{
  background: #c6e5a2;
  width: 200px;
  height: 40px;
  border: none;
  box-shadow: inset 0px 0px 9px #c5b8a6;
  border-radius: 10px;
  font-size: 16px;
  z-index: 3;
  cursor: pointer;
}
.Buttons-container{
  display: flex;
  justify-content: space-between;
}
.Delete-button, .Cancel-button{
  background: #c6e5a2;
  width: 180px;
  height: 40px;
  border: none;
  box-shadow: inset 0px 0px 9px #c5b8a6;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.Delete-button{
  background: #ed2020c9;
}
.Delete-button:hover{
  font-size: 18px;
  background: hsla(0, 89%, 48%, 0.788);
}
.ButtonModal:hover, .Cancel-button:hover{
  font-size: 18px;
  background: #67b709;

}
.InputModal{
  width: auto;
  height: 25px;
  border-radius: 8px;
}

.Board-container{
  transition: right 1s ease;
  display: flex;
  align-items: center;
  top: 9%;
  right: -88%;
  width: 90%;
  height: 80vh;
  position: absolute;
}
.Board-handle{
  width: 40px;
  height: 40px;
  
  background:url("./switch.png") no-repeat center center;
  background-size: cover;
  rotate: -90deg;
}
.Board-content{
  width: calc(100% - 40px);
  height: 100%;
  border-radius: 10px;
  background: url("./board.jpg") no-repeat center center;
  background-size: cover;

}
.Board-container.visible {
  right: 0;

}
.Board-handle.visible{
  transform: scale(-1, 1);
}
.Button-change-background{
  background: #c6e5a2;
  width: 100px;
  height: 30px;
  border: none;
  box-shadow: inset 0px 0px 9px #c5b8a6;
  border-radius: 10px;
  font-size: 15px;
 
  cursor: pointer;
  
}
.Button-change-background:hover{
  /* font-size: 16px; */
  background: #67b709;

}
.Board-content input{
  height: 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 5px;
}
.note{
  background-color: #fffbcc;
 
  padding: 10px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  min-height: 100px;
  /* font-family: Arial, sans-serif; */
  /* outline: none; */
  border-radius: 2px;
  font-size: 15px;
}
.note-mover{
  cursor: move;
  height: 20px;
  background-color: #7b7860;
  border-radius: 2px;
}
.container-note{
  position: absolute;
  right: 0;
  border: 2px solid #333;
  width: calc(100% - 40px);
  height: 100%;
  overflow: hidden; 

}